
/* title attributes */
#title {
font-family: 'Times New Roman', Times, serif;
}

/* navigation bar at the top. */
#navbar {
    padding: 10px;
    color: white;
    border-bottom: 10px;
    border-style: solid;
    background-color: rgb(0, 0, 0);
}

/* height setting for the tabs on the nav bar. */
#navbar ul {
    height: 30px
}

/* specific settings for nav bar tabs */
#navbar ul li {
    display: inline-block;
    float: right;
    list-style-type: none;
    overflow: hidden;
}

/* specific settings for nav bar tabs */
#navbar ul li a {
    color: white;
    padding: 14px 16px;
    font-size: larger;
    text-decoration: none;
}

/* hover function for nav bar tabs */
#navbar ul li a:hover {
    background-color: rgb(84, 84, 84);
  }

/* side bar band section settings. */
.sidebar {
    display: flex;
    flex-direction: column;
    float: right;
    min-height: 400vh;
    width: 405px;
    border-left: solid black;
    text-align: center;
}

/* Cntering for main body headers */
.c-heading {
    text-align: center;
}

/* Work flex box to shape content */
.work-section {
    display: flex;
    flex-direction: column;
    padding: 160px;
}

/* General children flex box settings */
.work-box {
    align-self: flex-start;
    border: solid;
    padding: 150px;
}

/* Individual positioning for middle box */
#work-box2 {
    align-self: flex-end;
}

/* General parent flex box settings */
.career {
    display: flex;
    flex-direction: column;
}

/* General children flex box settings */
.cats {
    border: solid;
    padding: 50px 100px;
}

#info {
    border-bottom: solid;
}

.d-info li {
list-style-type: none;
display: inline;
padding-left: 200px;
}