
/* title attributes */
#title {
font-family: 'Times New Roman', Times, serif;
color: black;
}

/* default settings */
body {
    color: rgb(249 242 217);
    margin: 0;
    background: url("./Images/backround.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* navigation bar at the top. */
#navbar {
    padding: 10px;
    border-style: solid;
    background-color: rgb(5 26 28);
}

/* height setting for the tabs on the nav bar. */
#navbar ul {
    height: 30px
}

/* specific settings for nav bar tabs */
#navbar ul li {
    display: inline-block;
    float: right;
    list-style-type: none;
    overflow: hidden;
}

/* specific settings for nav bar tabs */
#navbar ul li a {
    color: white;
    padding: 14px 16px;
    font-size: larger;
    text-decoration: none;
}

/* hover function for nav bar tabs */
#navbar ul li a:hover {
    background-color: rgb(84, 84, 84);
  }

/* side bar band section settings. */
.sidebar {
    background-color: #735041;
    display: flex;
    flex-direction: column;
    float: right;
    height: 200vh;
    width: 405px;
    text-align: center;
}

/* sidebar text positioning */
.sidebar p {
    padding: 15px;
}

/* Social media links for the band */
#side-links {
    display: inline;
    margin: 15px;
}

/* Centering and padding for main body headers */
.c-heading {
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
}

/* First app settings */
.first-app {
    font-size: 20px;
    display: flex;
   flex-direction: column;
   text-align: center;
   row-gap: 20px;
}

/* Settings for the First app box */
#main-ph {
    padding: 150px;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #b9c8d5;
}

/* Hover function for First app box */
#main-ph:hover {
    box-shadow: 10px 10px #735041;
    cursor: pointer;
}

/* Work flex box to shape content */
.app-section {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    row-gap: 20px;
}

/* General children flex box settings */
.app-box {
    align-self: flex-start;
    padding: 150px;
    background-color: #b9c8d5;
}

/* Hover function for individual app boxes */
.app-box:hover {
    box-shadow: 10px 10px #735041;
    cursor: pointer;
}

/* Individual positioning for middle box */
#app-box2 {
    align-self: flex-end;
}

/* General parent flex box settings */
.career {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* General children flex box settings */
.cats {
    padding: 50px 100px;
    background-color: #b9c8d5;
}

/* info section */
#info {
    border-bottom: solid;
}

/*  layout for info */
.d-info li {
list-style-type: none;
display: inline;
padding-left: 200px;
}